<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SecountActivity"></activity>
        <activity android:name=".Alarm" />
        <activity android:name=".sci_pollution_voc_select_medium" />
        <activity android:name=".sci_acids_acids" />
        <activity android:name=".sci_heat_heat" />
        <activity android:name=".sci_biosphere_lifestyle" />
        <activity android:name=".sci_vocabulary_tamil_respiration" />
        <activity android:name=".sci_vocabulary_tamil_products" />
        <activity android:name=".sci_vocabulary_tamil_pollution" />
        <activity android:name=".sci_vocabulary_tamil_lifestyles" />
        <activity android:name=".sci_vocabulary_tamil_levels" />
        <activity android:name=".sci_vocabulary_tamil_importance" />
        <activity android:name=".sci_vocabulary_tamil_factors" />
        <activity android:name=".sci_vocabulary_tamil_excertion" />
        <activity android:name=".sci_vocabulary_tamil_ecosystem" />
        <activity android:name=".sci_vocabulary_tamil_digestion" />
        <activity android:name=".sci_vocabulary_tamil_development" />
        <activity android:name=".sci_vocabulary_tamil_coordination" />
        <activity android:name=".sci_vocabulary_tamil_circulation" />
        <activity android:name=".sci_vocabulary_tamil_animal" />
        <activity android:name=".sci_vocabulary_sinhala_animal" />
        <activity android:name=".sci_temperature_voc_select_medium" />
        <activity android:name=".sci_salts_voc_select_medium" />
        <activity android:name=".sci_respiration_voc_select_medium" />
        <activity android:name=".sci_power_circuits" />
        <activity android:name=".sci_power_chapters" />
        <activity android:name=".sci_power_appliences" />
        <activity android:name=".sci_polymer_voc_select_medium" />
        <activity android:name=".sci_matter_voc_select_medium" />
        <activity android:name=".sci_magnetism_voc_select_medium" />
        <activity android:name=".sci_magneticeffect_voc_select_medium" />
        <activity android:name=".sci_lifestyle_voc_select_medium" />
        <activity android:name=".sci_levels_voc_select_medium" />
        <activity android:name=".sci_lesson_previous_sample2" />
        <activity android:name=".sci_junctions_voc_select_medium" />
        <activity android:name=".sci_introdution_voc_select_medium" />
        <activity android:name=".sci_induction_voc_select_medium" />
        <activity android:name=".sci_hydrocarbons_polymer" />
        <activity android:name=".sci_hydrocarbons_ethen" />
        <activity android:name=".sci_hydrocarbons_chapters" />
        <activity android:name=".sci_humanbody_respiration" />
        <activity android:name=".sci_humanbody_excertion" />
        <activity android:name=".sci_humanbody_digestion" />
        <activity android:name=".sci_humanbody_coordination" />
        <activity android:name=".sci_humanbody_circulation" />
        <activity android:name=".sci_humanbody_chapters" />
        <activity android:name=".sci_heat_voc_select_medium" />
        <activity android:name=".sci_heat_temperature" />
        <activity android:name=".sci_heat_matter" />
        <activity android:name=".sci_heat_chapters" />
        <activity android:name=".sci_excertion_voc_select_medium" />
        <activity android:name=".sci_ethen_voc_select_medium" />
        <activity android:name=".sci_electronics_junctions" />
        <activity android:name=".sci_electronics_introduction" />
        <activity android:name=".sci_electronics_current" />
        <activity android:name=".sci_electronics_chapters" />
        <activity android:name=".sci_electromagnetism_magnetism" />
        <activity android:name=".sci_electromagnetism_magneticeffects" />
        <activity android:name=".sci_electromagnetism_induction" />
        <activity android:name=".sci_electromagnetism_chapters" />
        <activity android:name=".sci_electrolysis_voc_select_medium" />
        <activity android:name=".sci_electrochemistry_electrolysis" />
        <activity android:name=".sci_electrochemistry_electrochemical" />
        <activity android:name=".sci_electrochemistry_chapters" />
        <activity android:name=".sci_ecosystem_voc_select_medium" />
        <activity android:name=".sci_digestion_voc_select_medium" />
        <activity android:name=".sci_development_voc_select_medium" />
        <activity android:name=".sci_curent_voc_select_medium" />
        <activity android:name=".sci_coordination_voc_select_medium" />
        <activity android:name=".sci_circulation_voc_select_medium" />
        <activity android:name=".sci_circuit_voc_select_medium" />
        <activity android:name=".sci_chemicalcells_voc_select_medium" />
        <activity android:name=".sci_biosphere_pollution" />
        <activity android:name=".sci_biosphere_levels" />
        <activity android:name=".sci_biosphere_ecosystems" />
        <activity android:name=".sci_biosphere_development" />
        <activity android:name=".sci_biosphere_chapters" />
        <activity android:name=".sci_bases_voc_select_medium" />
        <activity android:name=".sci_appliences_voc_select_medium" />
        <activity android:name=".sci_acids_voc_select_medium" />
        <activity android:name=".sci_acids_salts" />
        <activity android:name=".sci_acids_chapters" />
        <activity android:name=".sci_acids_bases" />
        <activity android:name=".sci_refraction_voc_select_medium" />
        <activity android:name=".sci_reflection_voc_select_medium" />
        <activity android:name=".sci_mirrors_voc_select_medium" />
        <activity android:name=".sci_lenses_voc_select_medium" />
        <activity android:name=".sci_optics_lenses" />
        <activity android:name=".sci_optics_refraction" />
        <activity android:name=".sci_optics_mirrors" />
        <activity android:name=".sci_optics_reflection" />
        <activity android:name=".sci_optics_chapters" />
        <activity android:name=".sci_mechanical_voc_select_medium" />
        <activity android:name=".sci_sound_voc_select_medium" />
        <activity android:name=".sci_instruments_voc_select_medium" />
        <activity android:name=".sci_waves_instruments" />
        <activity android:name=".sci_waves_sounds" />
        <activity android:name=".sci_waves_mechanical" />
        <activity android:name=".sci_waves_chapters" />
        <activity android:name=".sci_separation_voc_select_medium" />
        <activity android:name=".sci_types_voc_select_medium" />
        <activity android:name=".sci_mixtures_separation" />
        <activity android:name=".sci_mixtures_types" />
        <activity android:name=".sci_mixtures_chapters" />
        <activity android:name=".sci_importance_voc_select_medium" />
        <activity android:name=".sci_factors_voc_select_medium" />
        <activity android:name=".sci_products_voc_select_medium" />
        <activity android:name=".sci_photosyn_importance" />
        <activity android:name=".sci_photosyn_products" />
        <activity android:name=".sci_photosyn_factors" />
        <activity android:name=".sci_photosyn_chapters" />
        <activity android:name=".sci_vocabulary_sinhala_plant" />
        <activity android:name=".sci_animal_voc_select_medium" />
        <activity android:name=".sci_tissues_animal" />
        <activity android:name=".sci_vocabulary_tamil_plant" />
        <activity android:name=".sci_plant_voc_select_medium" />
        <activity android:name=".sci_tissues_plant" />
        <activity android:name=".sci_tissues_chapters" />
        <activity android:name=".ViewSciencePastPapers" />
        <activity android:name=".view_pdf" />
        <activity android:name=".upload_file" />
        <activity android:name=".Grade" />
        <activity android:name=".MixedQuiz" />
        <activity android:name=".try_relativelayout" />
        <activity android:name=".BiosphereResults" />
        <activity android:name=".HydrocarbonsResults" />
        <activity android:name=".ElectromagnetismResults" />
        <activity android:name=".ElectrochemistryResults" />
        <activity android:name=".ElectronicsResults" />
        <activity android:name=".PowerResults" />
        <activity android:name=".HeatResults" />
        <activity android:name=".AcidResults" />
        <activity android:name=".HumanBodyResults" />
        <activity android:name=".GeometricalResults" />
        <activity android:name=".WavesResults" />
        <activity android:name=".PhotosynthesisResults" />
        <activity android:name=".LivingtissuesResults" />
        <activity android:name=".Electromagnetism" />
        <activity android:name=".Electrochemistry" />
        <activity android:name=".Electronics" />
        <activity android:name=".Power_and_Energy" />
        <activity android:name=".Heat" />
        <activity android:name=".Geometrical" />
        <activity android:name=".Waves" />
        <activity android:name=".Splash" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".Hydrocarbons" />
        <activity android:name=".AddPastPapers" />
        <activity android:name=".AddLessons" />
        <activity android:name=".AddQuiz" />
        <activity android:name=".Biosphere" />
        <activity android:name=".HumanBody" />
        <activity android:name=".adminscience" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SelectionActivity" />
        <activity android:name=".mathsadmin" />
        <activity android:name=".SciencePastPapers" />
        <activity android:name=".ScienceQuiz" />
        <activity android:name=".ScienceLessons" />
        <activity android:name=".MathsPastPapers" />
        <activity android:name=".MathsQuiz" />
        <activity android:name=".MathsLesssons" />
        <activity android:name=".Settings" />
        <activity android:name=".Score" />
        <activity android:name=".Science" />
        <activity android:name=".Maths" />
        <activity android:name=".Mixture" />
        <activity android:name=".Photosynthesis" />
        <activity android:name=".Acid" />
        <activity android:name=".Livingtissues" />
        <activity android:name=".Game" />
        <activity android:name=".WordSearchActivity" />
        <activity android:name=".EndGame" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>